*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
input, button{
  border: 0;
  outline: none;
}

.flex_box{
  display: flex;
}

.p20{
  padding: 20px;
}
/* /Mix */

/* Body */
body{
  background-color: #fff5e2;
  font-family: 'Gochi Hand', cursive;
}

.body_wrap{
  width: 60%;
  margin: 50px auto;
  background-color: #fff;
  text-transform: capitalize;
}
/* /Body */

/* Header */
.title{
  background-color: #fdbb40;
  font-family: 'Lobster', cursive;
  font-size: 22px;
  color: #d33359;
  justify-content: space-between;
}

.burger_img{
  position: relative;
  width: 150px;
}

.burger_img img{
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%,-23%);
}
/* /Header */

/* Name Burger */
.name_burger > input::placeholder {
  color: #000;
  font-family: 'Gochi Hand', cursive;
  text-transform: uppercase;
}

.name_burger > input{
  text-align: center;
  font-size: 30px;
  width: 100%;
}
/* /Name Burger */

/* Ingredits List */
.ingredients ul{
  list-style: none;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredients ul li{
  align-items: center;
  flex-basis: 45%;
  justify-content: flex-start;
  font-size: 18px;
  padding: 10px 0;
}

.ingredients ul li img{
  width: 40px;
  margin-right: 15px;
}

.ingredients ul li label.flex_box{
  align-items: center;
  margin-right: 15px;
}

label.addLabel{
  color: #d33359;
  margin: 0 15px;
}
/* /Ingredits List */

/* Checkbox */
.ingredients ul li input{
  -webkit-appearance: none;
  background-color: #d33359;
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 20%;
  text-transform: capitalize;
}

.ingredients ul li input:after{
  content: "L";
  font-family: 'Signika', sans-serif;
  position: absolute;
  top: -15px;
  left: 2px;
  font-size: 34px;
  transform: rotateY(190deg) rotate(-50deg);
  opacity: 0;
}

.ingredients ul li input:checked:after{
  opacity: 1;
}
/* /Checkbox */

/* Coupon */
.coupon_box input{
  flex-basis: 100%;
  text-align: center;
  margin-left: 5px;
}

.coupon_box input:focus {
  background-color: #d33359;
  color: #fff;
}
/* /Coupon */

/* Calculate */
.calculate{
  width: 100%;
  text-align: center;
}

.calculate button{
  font-family: 'Gochi Hand', cursive;
  font-weight: bold;
  background-color: #fdbb40;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 10px;
}
/* /Calculate */

/* Price */
.your_price{
  background-color: #d33359;
  color: #fff;
  justify-content: space-between;
  font-size: 22px;
  font-family: 'Lobster', cursive;
}
/* Price */

@media screen and (max-width: 768px){
  .body_wrap{
    width: 70%;
  }

  .ingredients ul li{
    flex-basis: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
}
